*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width:500px;
    height: 500px;
    margin:0  !important;
}
#divider{
    width: 100%;
}

#navbar{
    text-align: center;
}

#content{
    text-align: center;

}

#footer{
    text-align: center;
}